<main>

    <section class="admin">
        <img src="img/rafael.jpg">

      <div class="descAdmin">
        <div>
            <h1>Rafael Vieira</h1>
            <p>Administrador</p>
        </div>

        <a href="/listUsers">Todos os usuários</a>

      </div>

    </section>

<section class="tabelaUsers">

        <table>
            <thead>
                <td>Nome</td>
                <td>Telefone</td>
                <td>CPF</td>
                <td>Data Nascimento</td>
                <td>Sexo</td>
                <td>Endereço</td>
                <td>CEP</td>
                <td>Número</td>
                <td>Bairro</td>
                <td>E-mail</td>
            </thead>

            <tbody>
              {{#each users}}  

                <td>{{nome}} {{sobrenome}}</td>
                <td>{{telefone}}</td>
                <td>{{cpf}}</td>
                <td>{{data}}</td>
                <td>{{sexoC}}</td>
                <td>{{endereco}}</td>
                <td>{{cep}}</td>
                <td>{{numero}}</td>
                <td>{{bairro}}</td>
                <td>{{email}}</td>
                <td><a href="/remover/{{id}}">Remover</a></td>
                
              {{/each}}  
            </tbody>
        </table>
    </section>

    </main>